@model IPagedList<IdentityRole>

<div class="row">
    <div class="col-12">
        @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"].ToString() != "")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @Html.Raw( @TempData["SuccessMessage"])
            </div>
        }
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <a asp-controller="roles" asp-action="Create" class="btn btn-block btn-primary"><i class="fa fa-plus"></i> Add new</a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IdentityRole role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>                  
                                <td >
                                    <a asp-controller="roles" asp-action="Edit" asp-route-id="@role.Id" class="btn btn-success btn-sm "><i class="fa fa-edit"></i> Edit</a>
                                    <a asp-controller="roles" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                UlElementClasses = new string[] { "pagination", "float-right" }
                })
            </div>
        </div>
    </div>
</div>